
// highlighting colors
$primary-opposite-color: rgba(15,104,140, 1);
$secondary-opposite-color: rgba(135,175,191, 1);
$tertiary-highlight-color: rgba(242,220,201, 1);
$secondary-highlight-color: rgba(242,182,147, 1);
$primary-highlight-color: rgba(216,110,71, 1);
// background colors
$primary-light-color: rgba(242,242,242, 1);
$secondary-light-color: rgba(216,216,216, 1);
$tertiary-light-color: rgba(191,191,191, 1);
$neutral-color: rgba(165,165,165, 1);
$tertiary-dark-color: rgba(140,140,140, 1);
$secondary-dark-color: rgba(89,89,89, 1);
$primary-dark-color: rgba(38,38,38, 1);
//Icon colors
$primary-light-icon: rgba(242,220,224, 1);
$secondary-light-icon: rgba(216,192,201, 1);
$neutral-icon: rgba(164,171,191, 1);
$secondary-dark-icon: rgba(127,144,165, 1);
$primary-dark-icon: rgba(92,117,140, 1);
